#wrapper {
   max-width: 100%;
    min-width: 40%;
}

#Container{
	width: 100%;
	margin: 0 auto;/*设置整个容器在浏览器中水平居中*/
	background-image: url(../img/background.png)
}

article, aside, figure, figcaption, footer, header, hgroup, nav, section, summary {  
  display: block;  
}

body {
  font-size: medium;
  font-family: "Helvetica","Hiragino Sans GB","Microsoft Yahei", sans-serif;
  
}




.title{
	
	}
	
.hr0{
    border: 0;
    height:0;
    border-top: 2px solid rgba(255, 255, 255, 0.6);
	padding: 5px;
	width: 20%;
	margin-top: -10px;
	}
.hr1{
    border: 0;
    height:0;
    border-top: 2px solid rgba(255, 255, 255, 0.6);
	padding: 5px;
	width: 20%;
	}
	
.hr2{
	
	margin-top:80px;
	height:300px;
	width:0.05px;
	
	}

	
.header {
   
	background-color:black;
    color:white;
    text-align: center;
    width: 100%；
         

	margin-right:2%;
	
}

 
a {
	color: #999;
	text-decoration: none;
	cursor: pointer；;
	
    
	
}
 
a:hover {
    color: #5188a6;
    text-decoration: none
}
 

 

 
aside.NavSidebar
{ 
  
  padding: 5px 15px 5px 15px;
  width: 14%;
  background-color:#f9f9f9;
  height:230px;
  font-size: large;
 
  left: 10px;
  top: 120px;
  margin:20px;
  margin-left:2%;
}

aside.IntoSidebar
{
	padding: 5px 15px 5px 15px;
  width: 14%;
  background-color:#f9f9f9;
  height:330px;
  font-size: large;
  
  left: 10px;
  top: 120px;
  margin:20px;
  
  margin:20px;
  margin-top:30px;
  margin-left:2%;
	}
	
aside.IntoSidebar img {
  margin-top: 20px;
  margin-left:48px;
  margin-top: 48px;
  border: white solid 4px;
  max-width:100px;
  
}
aside.IntoSidebar tab {
  margin-top: 20px;
  margin-left:48px;
  margin-top: 48px;
  
}

aside.IntoSidebar h3 {
  color: #6B6E3F;
  border-bottom: thin #6B6E3F solid;
  margin-bottom: 10px;
  margin-top: 20px;
}
 
aside.IntoSidebar ul {
  padding-left: 15px;
}
 
aside.IntoSidebar li {
  padding-bottom: 8px;
}
 
aside.NavSidebar h2 {
  color: #6B6E3F;
  border-bottom: thin #6B6E3F solid;
  margin-bottom: 10px;
  margin-top: 20px;
}
 
aside.NavSidebar ul {
  padding-left: 15px;
}
 
aside.NavSidebar li {
  padding-bottom: 8px;
}
 
aside.NavSidebar img {
  margin-top: 20px;
  border: white solid 4px;
  max-width:100px
}

 .w3l-banner-grids {
    margin-left:110px;
	margin-right:60px;
	
	
    padding: 20px 15px;
    background: rgba(255, 255, 255, 0.3);
	height:80%;
	width:80%;
	
}

.w3ls-banner-right {
    
	float: right;
	
}

.banner-right{
	
	float: right;
	margin-left: 6%;
	margin-right: 10%;
	margin-top: -400px;
	}
.banner-right h3{
	width：25%；
	}
	
.w3ls-banner-left {
    float: left;
	margin-left: 6%;
	
}
.w3ls-banner-left1 {
    float: left;
	margin-left: 6%;
	
}

.w3ls-banner-left2 {
    float: left;
	margin-left: 6%;
	margin-top: 12%;
	width:30%;
}
.w3ls-banner-left-info {
    margin-bottom: 20px;
	
    border-bottom: 1px dashed #fff;
	
}
.w3ls-banner-left-info {
    padding: 1em 0;
    border-bottom: 1px dashed #fff;
	
}


.w3ls-banner-left-info h4,.social-info h4{
    font-size: 1.2em;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.w3ls-banner-left-info p{
    font-size: .9em;
    margin: 1em 0 0 0;
    color: #cecece;
}

.w3ls-banner-left-info h3{
	width:30%;
	}
.w3ls-banner-left-info p a{
    font-size: .9em;
    margin: 1em 0 0 0;
    color: #cecece;
	text-decoration:none;
}
.w3ls-banner-left-info p a:hover{
	color:#FF9800;
}
.w3ls-banner-left-info:nth-child(5){
	border:none;
}
.banner-right-img{
    float: left;
    width: 30%;

border: solid 8px #ffffff;
}
.banner-right-info{
    float: right;
    width: 30%;
}
.banner-right-info h2{
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    line-height: 1.5em;
}
.banner-right-info p{
	color:#cecece;
	font-size:.9em;
	margin:3% 2% 2% 2%;
	line-height:1.8em;
}


article.Content{
  position: absolute;
    left: 18%;
    top: 110px;
    right: 3.5%;
	overflow-y: scroll;
	overflow-y: hidden;
	height:580px;
    padding-bottom: 40px;
    width:80%;
    margin:10px;
	
    
	
}

section.home{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	color: white;
	background-image: url(../img/bannerbg.png);
	height: 600px;
	font-size: xx-large;
	text-align: center;
	}
	
section.section1{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	color: white;
	background-image: url(../img/6.jpg);
	height: 600px;
	
	
	}

section.section2{
	margin:20px;
	background-color:#f9f9f9;
   
	height: 600px;
	
	}
	
.section2 a:hover{
	 padding:0 5px 5px 0;
background :rgba(255, 255, 255, 0.6)  right bottom ;
	   transition-duration:0.4s;
	}
	
.section2-img1 {
	margin:2%;
	border-radius:5px; 
    float:left;
	background-size: 100% 100%;
	background-image: url(../img/img1.jpeg);
	transition-duration:0.3s; /*过度的时间为0，5秒*/
	height:520px;
	width:44%;
	colour:white;
	
    
}
	

.section2-img1 a{
	display: inline-block;	
	background-size: 100% 100%;
	height:520px;
	width:100%;
	}
.section2-img2 a{
	display: inline-block;	
	height: 260px;
	width: 100%;
	}
.section2-img3 a{
	display: inline-block;
	height:230px;
	width:100%;	
	}
.section2-img4 a{
	display: inline-block;	
	height:230px;
	width:100%;
	}
	
.section2-img2 {
	position: absolute;
	left: 47%;
	margin-left:20px;
	margin-bottom:2%;
	border-radius: 5px;
	margin-top:2%;
	background-image: url(../img/img2.jpeg);
	background-size: 100% 100%;
	transition-duration: 0.3s; /*过度的时间为0，5秒*/
	height: 260px;
	width: 47%;
	colour:white;
	
	}	
.section2-img3 {
	background-image: url(../img/img3.jpg);
	background-size: 100% 100%;
	border-radius:5px; 
    position: absolute;
	left: 47.5%;
	margin:15px;
	margin-top:26%;
	transition-duration:0.3s; /*过度的时间为0，5秒*/
	height:230px;
	width:22%;
	colour:white;
	}	
.section2-img4 {
	border-radius:5px; 
    position: absolute;
	left: 72.5%;
	margin:15px;
	margin-top:26%;
	background-image: url(../img/img4.jpeg);
	
	transition-duration:0.3s; /*过度的时间为0，5秒*/
	height:230px;
	width:22%;
	colour:white;
	}	

	
table.imagetable {  
    font-family: verdana,arial,sans-serif;  
    font-size:20px;  
    color:#333333;  
    border-width: 0px;  
    
     
}  
table.imagetable th {
	background: #b5cfd2;
	border-width: 0px;
	padding-top: 20px;
	padding-bottom:20px;
	
	
    
	text-transform: uppercase; 
	width: 10%;
	
}  
table.tr1 {
	
	margin-bottom:10px;
	
	
}  
table.tr2 {
	
	margin-bottom:6px;
	
}  

table.imagetable td {
	background: #dcddc0;
	border-width: 0px;
	align : "center";
	padding-top: 20px;
	padding-bottom:20px;
	width: 10%;
	text-align: center;
}  

	
section.section3{
	margin:20px;
	
    color:black;
	height: 600px;
	background-color:black;
	}

section.section3 img{
	margin:3%;
	margin-left:4%;
	margin-right:3%;
	margin-top:2%;
	margin-bottom:2%;
	height: 220px;
	width: 26%;
	border-radius:5px; 
	transition-duration:0.3s; /*过度的时间为0，5秒*/
	}
	
.section3 img:hover {
            transform: scale(1.3);
            -webkit-transform: scale(1.3); /*Safari 和 Chrome*/
            -moz-transform: scale(1.3); /*Firefox*/
            -ms-transform: scale(1.3); /*IE9*/
            -o-transform: scale(1.3); /*Opera*/
        }

 
.Content .LeadIn {
  font-weight: bold;
  font-size: large;
  font-variant: small-caps;
}
 
.Content h3 {
  color: #24486C;
  margin-bottom: 2px;
  font-size: medium;
}
 
.Content p {
  margin-top: 0px;
}
 
header.ArticleHeader {
  padding: 10px;
  margin: 10px;
  
}
 
header.ArticleHeader h2 { 
  font-size: xx-large;
}
 
header.ArticleHeader h3 {
  margin-top: 8px;
  font-weight: bold;
}
 
header.ArticleHeader .Byline {
  margin-top: 8px;
  font-style: italic;
  font-size: small;
}
 
footer {
  background: #333333;
  color:#c0c0c0;
  padding: 10px;
  text-align: center;
  font-size: x-small;  
  clear:both;
  
}
 
footer .Disclaimer {
  font-style: italic;
}
 
footer p {
  margin: 3px;
}

.top
 {position: fixed;
   right: 20px;
   bottom: 100px; 
 }	
 
 
   
.Clear{
    clear:both;
}
	
	
	
	