@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kw1y66');
  src:  url('fonts/icomoon.eot?kw1y66#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kw1y66') format('truetype'),
    url('fonts/icomoon.woff?kw1y66') format('woff'),
    url('fonts/icomoon.svg?kw1y66#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-books:before {
  content: "\e920";
}
.icon-profile:before {
  content: "\e923";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}



